.artwork-detail {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
}

.artwork-detail img {
    max-width: 100%;
    width: auto; /* Allow image to adjust to its natural width within limits */
    height: auto; /* Maintain aspect ratio */
    max-height: 400px; /* Set max height to keep images consistent */
    margin-top: 10px;
}

.artist-detail {
    display: inline;
}

.comments-section {
    margin-top: 20px;
}

.comment {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.comment strong {
    color: #15837d; /* Blue for the username */
}


form {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    background-color: #cccccc;
    padding: 30px;
    flex-direction: column;
    gap: 10px; /* Space between the input fields */
    margin-top: 20px;
}

form input,
form textarea,
form button {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #333333;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

form button:hover {
    background-color: #15837d;
}

.delete-artwork-button {
    margin-top: 12px;
    background-color: #dc3545;
    color: #ffffff;
    cursor: pointer;
    border: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 4px;
}

.delete-artwork-button:hover {
    background-color: #b02a37;
}

.profile-artist {
    height: 50px !important;
    width: 50px !important;
    margin-right: 10px;
}
